# 웹 프레임워크
Flask==3.0.0
gunicorn==21.2.0

# GCP 및 데이터베이스
google-cloud-storage>=2.14.0
# [중요] 최신 Vertex AI 기능을 사용하기 위해 버전을 명시적으로 지정합니다.
google-cloud-aiplatform>=1.55.0
pg8000>=1.30.0

# 데이터 처리
pandas>=2.0.0
openpyxl>=3.1.0
PyMuPDF # fitz 모듈 제공
Pillow>=10.0.0